.env
db.sqlite3
__pycache__/
*.pyc
.vscode/

.env
.env.bak
*.env


venv/
render_dump.json
debug_dashboard.html
output.html
output_utf8.html
# Other common Django/Python exclusions
*.pyo
*.pyd
env/
venv/
staticfiles/
media/
session_debug.txt
.DS_Store
